{% for element in items.elements %}
{% if element.is_active %}
<div class="item">
  <div class="preview">
    <a class="dm" data-id="{{ element.id }}"><img class="lazy"
        data-src="{{ server }}/static/contents/{{ items.folder }}/{{ element.cover }}" /></a>
  </div>
  <div class="meta">
    <div>Titre : {{ element.title }}</div>

    {% for meta in element.customized_metadata %}
    {% if isMetaRefActive(items.metadata, meta) %}
    <div>{{ meta.label }} : {{ meta.value }}</div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}
