#data #editorjs {
  padding: 40px 0 0 0;
}

#data .layout {
  padding: 0;
  margin: 20px;
  column-gap: 20px;
  column-count: 5;
}

@media (max-width: 1280px) {
  #data .layout {
    column-count: 4;
  }
}

@media (max-width: 1024px) {
  #data .layout {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  #data .layout {
    column-count: 2;
  }
}

@media (max-width: 568px) {
  #data .layout {
    column-count: 1;
  }
}

#data .layout .item {
  display: inline-block;
  padding: 0;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  break-inside: avoid;
  background-color: #fff;
  color: #000;
}

#data .layout .item .preview img {
  width: 100%;
  height: 100%;
}

#data .layout .item .meta {
  padding: 10px;
  color: #000;
}
