<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a class="pure-menu-link nav" href="/">Accueil</a>
    </li>
    <li class="pure-menu-item">
      <a class="pure-menu-link nav" href="/archive">Archives</a>
    </li>
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <a href="#" id="menuLink1" class="pure-menu-link">Admin</a>
      <ul class="pure-menu-children">
        <li class="pure-menu-item">
          <a class="pure-menu-link admin">Panneau Admin</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link admin" data-id="1">Panneau Admin 1</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link admin" data-id="2">Panneau Admin 2</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link admin" data-id="3">Panneau Admin 3</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link privacy">
            {{ 'Mode Discrétion' if state.attributes.show_privacy == true }}
            {{ 'Tous Contenus' if state.attributes.show_privacy == false }}
          </a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link new">Nouveau</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link quit">Quitter</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
