<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a class="pure-menu-link nav" href="/">Accueil</a>
    </li>
    <li class="pure-menu-item">
      <a class="pure-menu-link nav" href="/archive">Archives</a>
    </li>
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <a href="#" id="menuLink1" class="pure-menu-link">Admin</a>
      <ul class="pure-menu-children">
        <li class="pure-menu-item">
          <a class="pure-menu-link admin">Afficher/Cacher</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link new">Nouveau</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
