<div class="wrapper">
  <div class="header">
    <div class="preview">
      <img src="{{ server }}/static/contents/{{ items.folder }}/{{ element.cover }}">
    </div>
  </div>
  <div class="meta">
    <div><b>{{ element.title }}</b></div>

    {% for meta in element.customized_metadata %}
    {% if isMetaRefActive(items.metadata, meta) %}
    <div><span class="label">{{ meta.label }}</span> {{ meta.value }}</div>
    {% endif %}
    {% endfor %}
  </div>
  <div id="editorjs" class="editor"></div>
</div>
