#article #summary {
  max-width: 100%;
  padding: 20px;
}

#article .editor {
  color: #000;
  background-color: #fff;
  padding: 20px;
}

#article .editor a {
  color: #000;
}

#article #link {
  max-width: 100%;
  padding: 20px;
}
