#archive #container {
  max-width: 100%;
  padding: 0 20px;
}

#archive #container h2 {
  border-bottom: solid 1px #ccc;
  padding-bottom: 0.5em;
  letter-spacing: 0.1em;
}

#archive #container .pagination {
  text-align: center;
  margin: 2em 0 4em 0;
}

#archive #container .pagination li {
  display: inline-block;
}

#archive #container .pagination li a {
  display: inline-block;
  padding: 0.3em 0.7em;
  border: solid 1px #ccc;
}

#archive #container .pagination li a.active {
  background: red;
}

#archive #options {
  max-width: 100%;
  padding: 20px 20px 0 20px;
}

#archive #options .active {
  color: red;
}

#archive #tag {
  max-width: 100%;
  padding: 0 20px 0 20px;
}

#archive #tag .active {
  color: red;
}
