#home #spotlight {
  max-width: 100%;
  padding: 20px;
}

#home #editorial {
  max-width: 100%;
  padding: 0 20px;
}

#home #latest {
  max-width: 100%;
  padding: 20px;
}

#home .highlighting {
  max-width: 100%;
  padding: 20px;
}

#home #editorial #editorjs {
  margin: 20px 0 0 0;
  background: #444;
  color: #fff;
}
