{% if contents.length > 0 %}
<div class="container">
  {% for content in contents %}
  <div class="slide fade">
    <a class="link image" href="/{{ getType(content.attributes.type) }}/{{ content.attributes.id }}">
      {% if content.attributes.cover %}
      <img class="lazy"
        src="{{ server }}/static/contents/{{ content.attributes.folder }}/{{ content.attributes.cover }}">
      {% else %}
      <span class="cover">Sans couverture</span>
      {% endif %}
    </a>
    <div class="text">{{ content.attributes.title }}</div>
  </div>
  {% endfor %}

  <a class="previous" href="#">&#10094;</a>
  <a class="next" href="#">&#10095;</a>
</div>

<div style="text-align:center">
  {% for content in contents %}
  <span class="dot" data-slide="{{ loop.index }}"></span>
  {% endfor %}
</div>
{% endif %}
