{% if contents.length %}
<div class="highlighting">
  <h3>Mise en avant de contenus "{{ getTypeLabel(type) }}"</h3>
  <ul>
    {% for content in contents %}
    <li><a href="/{{ getType(content.attributes.type) }}/{{ content.attributes.id }}">
        {{ dateOnly(content.attributes.update_date) }} -
        {{ getStatus(content.attributes.status) }} :
        {{ content.attributes.title }}
      </a></li>
    {% endfor %}
  </ul>
  <div class="center">
    <a class="archive" href="/archive">Voir plus</a>
  </div>
</div>
{% endif %}
