#home #welcome {
  max-width: 100%;
  padding: 0 20px;
}

#home #latest {
  max-width: 100%;
  padding: 20px;
  color: #000;
  background-color: #eee;
  border: solid 1px #ccc;
}

#home #latest a {
  color: #000;
}

#home #latest li {
  border-bottom: solid 1px #ccc;
  padding: 1em 0;
}
