<div class="latest">
  <h2>Derniers contenus</h2>
  <ul class="wrapper">
    {% for content in contents %}
    <li><a href="/{{ getType(content.attributes.type) }}/{{ content.attributes.id }}">
        {{ dateOnly(content.attributes.update_date) }} -
        {{ getTypeLabel(content.attributes.type) }} :
        {{ content.attributes.title }}
        ({{ getStatus(content.attributes.status) }})
      </a></li>
    {% endfor %}
  </ul>
  <div class="center">
    <a class="archive" href="/archive">Voir plus</a>
  </div>
</div>
