#video .layout {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(350px, auto);
  margin: 20px;
}

@media (max-width: 1024px) {
  #video .layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #video .layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 568px) {
  #video .layout {
    grid-template-columns: repeat(1, 1fr);
  }
}

#video .layout .item {
  background-color: #000;
}

#video .layout .item .preview {
  overflow: hidden;
  height: 260px;
}

#video .layout .item .preview img {
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;
}

#video .layout .item .meta {
  padding: 10px;
  color: #fff;
}
