<form class="pure-form pure-form-stacked">
  <fieldset>
    <legend>Recherche</legend>
    <input type="text" placeholder="Recherche dans le titre" />
  </fieldset>

  <fieldset>
    <legend>Tri</legend>
    <select class="inline" id="sort">
      <option value="date" selected>Date</option>
      <option value="title">Titre</option>
    </select>
    <select class="inline" id="sort_dir">
      <option value="asc">Croissant</option>
      <option value="desc" selected>Décroissant</option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Section</legend>
    <ul>
      {% for section in sections %}
      <li><a class="as" data-anchor="archive-{{ section.type_label }}">
          {{ section.name }} ({{ section.total }})</a>
      </li>
      {% endfor %}
    </ul>
  </fieldset>

  <fieldset>
    <legend>Tag</legend>
    <a>SI (12)</a>
    <a>Image (15)</a>
    <a>Musique (7)</a>
    <a>Ecriture (5)</a>
    <a>Langue (6)</a>
    <a>Web (11)</a>
    <a>Mobile (2)</a>
    <a>Application (1)</a>
    <a>Système (4)</a>
    <a>Jeu vidéo (6)</a>
    <a>Informatique (14)</a>
    <a>Croquis (52)</a>
    <a>Illustration (18)</a>
    <a>Narration (19) </a>
    <a>Animation (2)</a>
  </fieldset>
</form>
