<form class="pure-form pure-form-stacked">
  <fieldset>
    <legend>Recherche</legend>
    <input type="text" class="search" placeholder="Recherche dans le titre" name="search" minlength="2"
      maxlength="20" />
  </fieldset>

  <fieldset>
    <legend>Tri</legend>
    <select class="inline" id="sort">
      <option value="date" {{ "selected" if state.attributes.sort=='date' }}>Date</option>
      <option value="title" {{ "selected" if state.attributes.sort=='title' }}>Titre</option>
    </select>
    <select class="inline" id="sort_dir">
      <option value="asc" {{ "selected" if state.attributes.sort_dir=='asc' }}>Croissant</option>
      <option value="desc" {{ "selected" if state.attributes.sort_dir=='desc' }}>Décroissant</option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Filtre</legend>
    <ul>
      {% for type in contentTypes %}
      <li><a class="type {{ 'active' if type.attributes.type == state.attributes.type }}"
          data-type="{{type.attributes.type}}">
          {{ type.attributes.title }} ({{ type.attributes.total }})
        </a></li>
      {% endfor %}
    </ul>
  </fieldset>
</form>
