<form class="pure-form" id="content-relation">
  <fieldset>
    <div class="frame">
      <table class="pure-table pure-table-horizontal">
        <tbody>
          {% for relation in relations %}
          <tr>
            <td>#{{ relation.attributes.id }}</td>
            <td class="w-50">
              <a class="more" href="/{{ getType(relation.attributes.type) }}/{{ relation.attributes.id }}"
                title="Voir">{{
                relation.attributes.title }}</a>
            </td>
            <td>
              <input class="status" type="checkbox" title="Activer" name="status" {{ "checked" if
                relation.attributes.status==1 }} data-id={{ relation.attributes.id }} />
            </td>
            <td class="element-option">
              <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="#" class="pure-menu-link"><i class="icon icon-menu"></i></a>
                  <ul class="pure-menu-children">
                    <li class="pure-menu-item">
                      <a href="#" class="pure-menu-link move-up" data-id={{ relation.attributes.id }}>Monter</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="#" class="pure-menu-link move-down" data-id={{ relation.attributes.id }}>Descendre</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="#" class="pure-menu-link delete" data-type="relation"
                        data-id="{{ relation.attributes.id }}"
                        data-title="{{ relation.attributes.title }}">Supprimer</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </fieldset>

  <div class="center">
    <input type="text" placeholder="Identifiant" id="relation-id" maxlength="20" />
    <button class="pure-button pure-button-primary submit">Valider</button>
  </div>
</form>
