<form class="pure-form" id="content-relation">
  <fieldset>
    <div class="frame">
      <table class="pure-table pure-table-horizontal">
        <tbody>
          {% for i in [1,2,3,4,5,6,7,8] %}
          <tr>
            <td>#{{ i }}</td>
            <td class="w-70">
              <a class="more" href="/article/1" title="Voir">Titre du contenu</a>
            </td>
            <td>
              <input type="checkbox" title="Activer" />
            </td>
            <td class="element-option">
              <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="#" class="pure-menu-link"><i class="icon icon-menu"></i></a>
                  <ul class="pure-menu-children">
                    <li class="pure-menu-item">
                      <a href="#" class="pure-menu-link">Monter</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="#" class="pure-menu-link">Descendre</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="#" class="pure-menu-link delete" data-type="relation" data-id="{{ i }}">Supprimer</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </fieldset>

  <div class="center">
    <input type="text" placeholder="Identifiant" />
    <button class="pure-button pure-button-primary">Valider</button>
  </div>
</form>
