<form class="pure-form" id="content-tag">
  <fieldset>
    <div class="frame">
      <table class="pure-table pure-table-horizontal">
        <tbody>
          {% for tag in tags %}
          <tr>
            <td class="w-90">
              <a class="edit" href="#" title="Editer" data-id="{{ tag.attributes.id }}">{{ tag.attributes.label }}</a>
            </td>
            <td class="element-option">
              <a href="#" class="pure-menu-link delete" title="Supprimer" data-type="tag"
                data-id="{{ tag.attributes.id }}" data-title="{{ tag.attributes.label }}"><i
                  class="icon icon-delete"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </fieldset>

  <div class="center">
    <input type="text" placeholder="Tag" id="tag-label" />
    <button class="pure-button pure-button-primary submit">Valider</button>
  </div>
</form>
